body{
    height:auto;
    width: 100%;
    margin: 0px;
}
    
    nav {
    background-color: lightgray;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    margin-left: 50px;
    text-align: center;
    height: 20%;
}

nav div {
    color: blue;
    width: 20%;
    display: inline-block;
}

section {
    
    margin: 7px 10px 7px 50px;
    float: left;
    width: 20%;
    height: 600px;
    border: 2px lightgray solid;
    text-align: center;
    font-size: 1em;
}

section p {
    text-align: center;
    font-size: 1.5em;
    background-color: #CCCC88;
    margin: 5px;


}

section img {
    height: 300px;
    width: 250px;
    padding: 5px;
}

section ul {
    padding: 3px;
    margin: 0px;
}

section .DondeContactar {
    background-color: #CCCC88;
}

section ul li {
    list-style-type: none;
    display: block;
    padding: 10px;

}

section div {
    padding: 10px;
}

main {
    float: left;
    width: 73%;
    border: 2px solid lightgray;
    margin: 7px;
    height: 60%;
    position: relative;
    height: 600px;
    text-align: Center;
    font-family: Arial, Helvetica, sans-serif;
}
main h1{
    color: darkblue;
}
main h2{
    color:blue;
}
main p{
    color: aqua;
}
main table{
    color:lightblue;
    padding: 10px;
}
main .habilidades{
    margin-left: 300px;
}
footer {
    background-color: lightgray;
    padding: 5px;
    text-align: center;
    clear: both;
    margin-left: 50px;
    height: 20%;
}

footer div {
    display: inline-block;
    padding: 0px 40px;
}

footer img {
    height: 50px;
    width: 50px;
}